.navbar{
    background-color: #eef4f9;
}
.nav-link{
    color:black;
}

.logo{
    padding: 10px;
}

#home{
    margin-top: 68px;
    min-height: 500px;
    height: 100%;
    width: 100%;
    background: #eef4f9;
}

.prviDeo{
    margin-top: 100px;
}

.drugiDeo{
    margin-top: 100px;
    position: relative;
}

img{
    max-width:100%;
    max-height:500px;
}

.cloudAtTheBottom{
    background: #eef4f9;
    
}

.roundBtn{
    border-radius: 20px;
}
/* krugovi u What we do */
.lupa{
    color:red;
    display: inline-block;
    border-radius: 100px;
    background-color: rgb(247, 166, 166);
    padding: 1em 1.1em;
}

.laptop{
    color:red;
    display: inline-block;
    border-radius: 100px;
    background-color: rgb(247, 166, 166);
    padding: 1em 1.1em;
}

.share{
    color:red;
    display: inline-block;
    border-radius: 100px;
    background-color: rgb(247, 166, 166);
    padding: 1em 1.1em;
}

.checklist{
    color:red;
    display: inline-block;
    border-radius: 100px;
    background-color: rgb(247, 166, 166);
    padding: 1em 1.1em;
}

.blob{
    height: 20%;
    width: 20%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
}

.blobNumber{
    height: 60%;
    width: 60%;
    margin-top: 15px;
    text-align: center;
    position: relative;
}

.znak{
    color: red;
    text-align: center;
    margin: 0 auto;
    position: relative;
}
/* END krugovi u What we do */

.check{
    height: 40%;
    float: left;
    padding-right: 10px;
    color: rgb(104, 180, 243);
}



.numberCircle{
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    z-index: 2;
}
/* Our Process*/
.OurProcessBloob1{
    display: inline-block;
    width: 100px;
    height: 100px;
    padding-top: 0px;
    position: absolute;
    z-index: 0;
}

.elOurProcessBlob{
    position: relative;
    padding-left: 25%;
    padding-top: 25px;
    z-index: 1;
}

.brOurProcessBlob{
    color: white;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    top: 65px;
    left: 5px;
    z-index: 2;
    position: absolute;
    text-align: center;
}
/* End Our Process*/

/*carousel*/
.carousel{
    position: relative;
    width: 100%;
    height: 100%;
    
}


.carousel-indicators--round li {
    border-radius: 10px;
    margin: 1px 3px;
    height: 10px;
    max-width: 10px;
    border: 1px solid white;
    background-color: white;
}
.carousel-indicators .active {
    background-color: gray;
    max-width: 12px;
    margin: 0 3px;
    height: 12px;
}



  .mask{
    mask: url(#bloob1);
  }
/*End carousel*/

/*Pricing*/

#brVeliki{
    font-size: 50px;
}

#boldujmo{
    font-weight: bold;
}

.card:hover{
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    transform: scale(1.2);
    z-index: 0;
}
/*Pricing*/

/*email*/
#emails{
    border-radius: 20px;
    width: 30%;
    height: 37px;
}
/*end email*/

.endShape {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 20px;
  }

  #pomerimo{
      padding-right: 10px;
  }
  .pomeraj{
      padding-bottom: 5px;
  }